<!DOCTYPE html>

<header class="navbar header--navbar desktop-only">
	<div class="navbar-inner">
		<div class="container-fluid">
			<a class="brand" href="#">frost-center</a>
			<ul class="nav pull-right">
				<li class="navbar-link {{navActive == 0? 'active':''}}"><a href="#/executors" ng-click="navActive = 0">执行器管理</a></li>
				<li class="navbar-link {{navActive == 1? 'active':''}}"><a href="#/jobs" ng-click="navActive = 1">任务管理</a></li>
				<li class="navbar-link {{navActive == 2? 'active':''}}"><a href="#/logs" ng-click="navActive = 2">任务日志</a></li>
				<li class="navbar-link">
                    <a class="ng-binding" href="logout"><i class="fa fa-2x fa-sign-out" aria-hidden="true"></i></a>
                </li>
			</ul>
		</div>
	</div>
</header>

<footer class="footer">
	<ul class="inline">
		<li><a href="https://gitee.com/justlive1/earth-frost"
			target="_blank">Reference Guide</a></li>
		<li>-</li>
		<li><a href="https://gitee.com/justlive1/earth-frost"
			target="_blank">Sources</a></li>
		<li>-</li>
		<li>Code licensed under<a
			href="http://www.apache.org/licenses/LICENSE-2.0" target="_blank">Apache
				License 2.0</a></li>
	</ul>
</footer>

